<tr><td><div class="loadComments">
    <div class="loadCommentsImg">
        <a href="/otherProfile"><img src="<%= comment.profile_image %>" alt=""></a>
    </div>
    <div class="loadCommentsInfo">
        <p style="margin: 0;"><%= comment.user_name %></p>
        <div class="separateLine2"></div>
        <div class="loadCommentsText">
            <p><%= comment.content %></p>
        </div>
    </div>
</div></td></tr>