<div class="callPost">
    <div class="callPostLeft">
        <div class="postWrittenDay">
            <span>2024-04-13 14:39</span>
        </div>
        <a href="/otherProfile"><div class="postWriterImg">
            <div class="writerFollowBT">팔로우</div>
        </div></a>
        <div class="postWriterName alignment">
            <span>구글직원호소인</span>
        </div>
        <div class="postStack">
            <div class="postLike alignment"><span class="material-symbols-outlined">thumb_up</span>
                <span>10</span>
            </div>
            <div class="postComments alignment"><span class="material-symbols-outlined">comment</span>
                <span>20</span>
            </div>
            <div class="postLove alignment"><span class="material-symbols-outlined">favorite</span>
                <span>30</span>
            </div>
        </div>
    </div>
    <div class="callPostRight"><a href="/postDetails">
        <div class="callPostTitle">
            <span>제목입니당</span>
        </div>
        <div class="callPostText">
            <span>내용입니당</span>
        </div>
        <div class="callPostHashtag">
            <span>#해시태그</span>
        </div>
    </a></div>
</div>