</div>
<footer>

<div class="commentsFooter alignment">
    <div class="commentsBox">
        <div class="commentsImg">
            <img src="../img/google_icon.png" alt="">
        </div>
        <div class="inputComments">
            <input type="text" placeholder="댓글 입력">
        </div>
        <div class="submitBT">
            <form action="###">
                <button>
                    <span class="material-symbols-outlined">arrow_upward</span>
                </button>
            </form>
        </div>
    </div>
</div>
    
</footer>
</body>
</html>