<%-include('head.ejs')-%>
<!-- End of head -->
<%-include('header.ejs')-%>
<!-- End of header -->

<!-- 
    계정 정보 수정
    1.계정 정보의 내용을 DB에서 불러오고 수정할 수 있어야함.
    2.'수정 내용 저장'버튼 추가, DB에 저장하기
 -->

<div class="editBox">
    <div class="editImg alignment">
        <img src="../img/imgForTest.png" alt="">
    </div>
    <div class="editInfo">
        <div class="editName alignment">
            <input type="text" placeholder="이름">
        </div>
        <div class="editIntroduce alignment">
            <input type="text" placeholder="소개글">
        </div>
        <div class="editConnection alignment">
            <input type="text" placeholder="커넥션">
        </div>
        <div class="saveBT alignment">
            <button>저장하기</button>
        </div>
    </div>
</div>

<!-- Start of footer -->
<%-include('footer.ejs')-%>