<%-include('head.ejs')-%>
<!-- End of head -->
<%-include('header.ejs')-%>
<!-- End of header -->

<!-- 
    계정 정보 수정
    1.계정 정보의 내용을 DB에서 불러오고 수정할 수 있어야함.
    2.'수정 내용 저장'버튼 추가, DB에 저장하기
 -->

<div class="editBox">
    <div class="editImg alignment">
        <img src="../profile_image/unknown.png" alt="">
            <button type="add">
                <span class="material-symbols-outlined">add_circle</span>
            </button>
    </div>
    <div class="editInfo">
        <span>이름</span>
        <div class="editName alignment">
            <input type="text" placeholder="이름을 입력해주세요.">
        </div>
        <span>한줄 소개</span>
        <div class="editIntroduce alignment">
            <input type="text" placeholder="본인을 소개해주세요.">
        </div>
        <span>커넥션</span>
        <div class="editConnection alignment">
            <input type="text" placeholder="커넥션을 입력해주세요.">
        </div>
        <div class="saveBT alignment">
            <button>저장하기</button>
        </div>
    </div>
</div>

<!-- Start of footer -->
<%-include('footer.ejs')-%>