<header class="alignment">

<!-- 
    헤더
    1.메인페이지로 이동할 수 있는 로고
    2.네비게이션 기능? (글쓰기, 계정정보, 설정, 등...)
-->

<div class="moveWritingPost">
    <a href="/writingPost"><span class="material-symbols-outlined">edit</span></a>
</div>
<div class="moveIndex">
    <a href="/"><img src="../img/logo_removeBG_2.png" alt=""></a>
</div>
<div class="moveProfile">
    <a href="/profile"><span class="material-symbols-outlined">person</span></a>
</div>

</header>