<%-include('head.ejs')-%>
<!-- End of head -->
<%-include('header.ejs')-%>
<!-- End of header -->

<!-- 
    메인페이지
    1.접속할 때 로그인 정보가 없다면 로그인 페이지로 이동 (자동로그인 기능?)
    2.무한스크롤 게시글
    3.좌측 네비게이션 기능(#디테일 미정#)
-->
<div id="slider">
    <div class="image-box">
       <img src="../img/banner01.png" />
       <img src="../img/banner02.png" />
       <img src="../img/banner03.png" />
       <img src="../img/banner01.png" />
       <img src="../img/banner02.png" />
       <img src="../img/banner03.png" />
    </div>
 </div>

<div class="mainBox alignment">
    <div class="navBox">
        <div class="searching">
            <form action="###">
                <input type="text" placeholder="검색하기">
                <button>
                    <span class="material-symbols-outlined">search</span>
                </button>
            </form>
        </div>
        <div class="popularPost">  

        </div>
        <div class="darkMode" id="darkmode">
            <label>
                <span>다크모드</span>
                <input role="switch" type="checkbox" />
            </label>
        </div>
    </div>
    <div class="postsBox">
        <!--1번 게시글-->
        <div class="callPost">
            <div class="callPostLeft">
                <div class="postWrittenDay">
                    <span>2024-04-13 14:39</span>
                </div>
                <div class="postWriterImg">
                    <div class="writerFollowBT">팔로우</div>
                </div>
                <div class="postWriterName alignment">
                    <span>구글직원호소인</span>
                </div>
                <div class="postStack">
                    <div class="postLike alignment"><span class="material-symbols-outlined">thumb_up</span>
                        <span>10</span>
                    </div>
                    <div class="postComments alignment"><span class="material-symbols-outlined">comment</span>
                        <span>20</span>
                    </div>
                    <div class="postLove alignment"><span class="material-symbols-outlined">favorite</span>
                        <span>30</span>
                    </div>
                </div>
            </div>
            <div class="callPostRight"><a href="/postDetails">
                <div class="callPostTitle">
                    <span>제목입니당</span>
                </div>
                <div class="callPostText">
                    <span>내용입니당</span>
                </div>
                <div class="callPostHashtag">
                    <span>#해시태그</span>
                </div>
            </a></div>
        </div>
    </div>
</div>
<script>
var swiper = new Swiper(".mySwiper", {
    slidePreView:2,
    spaceBetween : 0,
    centerSlides :true,
    loop : true,
    freeMode : true,
    observe : true,
    observeParent : true,
    speed :8000,
    allowTouchMove : false,
    autoplay : {
        delay : 0,
        disableOnInteraction : false
    }
});
</script>

<!-- Start of footer -->
<%-include('footer.ejs')-%>