<%-include('head.ejs')-%>
<!-- End of head -->
<!-- body -->

<!-- 
    로그인페이지
    1.연동 로그인 API 기능 (구글, 네이버, 카카오, 등...)
    2.'로그인'버튼 추가
 -->
 <!-- head.ejs에 <body>포함되어 있음. -->
    <div class="loginBox">
        <div class="bigLogo alignment">
            <img src="../img/MZDRN_logo_column_removeBG.png" alt="">
        </div>
        <div class="inputLoginInfo alignment">
            <form action="/" method="post">
              <div class="loginInput">
                <input type="text" id="userID" name="userID" placeholder="ID를 입력하세요.">
                <input type="password" id="userPW" name="userPW" placeholder="PW를 입력하세요.">
              </div>                
              <div class="loginBT">
                <button type="submit">로그인</button> 
              </div>
            </form>
            
        </div>
        <div class="API-login">
            <!--필요하면 <a> 태그로 교체-->
            <div class="googleBT">
                <img src="../img/google_icon.png" alt="">
                <a href="/main">구글 로그인</a>
            </div>
            <div class="naverBT">
                <img src="../img/naver_icon.png" alt="">
                <a href="/main">네이버 로그인</a>
            </div>
            <div class="kakaoBT">
                <img src="../img/kakao_icon.png" alt="">
                <a id="kakao" href="/auth/kakao" class="btn">카카오 로그인</a>
            </div>    
        </div>
        <div class="creatBT">
          <p> 아직 회원이 아니신가요? </p><br>
          <a href="/signup">회원가입</a>
        </div>
    </div>
</body>
<script>
    // 페이지 로딩 시 다크 모드 상태를 설정합니다.
    document.addEventListener("DOMContentLoaded", () => {
      const isDarkMode = localStorage.getItem("darkMode") === "true";
      const checkBox = document.querySelector("#darkmode input[type='checkbox']");

      if (isDarkMode) {
        document.documentElement.setAttribute("color-theme", "light");
        checkBox.checked = true;
      } else {
        document.documentElement.setAttribute("color-theme", "dark");
        checkBox.checked = false;
      }
    });

    // 체크박스 클릭 이벤트 핸들러
    const checkBox = document.querySelector("#darkmode");

    checkBox.addEventListener("click", (e) => {
      if (e.target.checked) {
        document.documentElement.setAttribute("color-theme", "light");
        localStorage.setItem("darkMode", "true");
      } else {
        document.documentElement.setAttribute("color-theme", "dark");
        localStorage.setItem("darkMode", "false");
      }
    });
</script>
</html>