<%-include('head.ejs')-%>
<!-- End of head -->
<!-- body -->

<!-- 
    로그인페이지
    1.연동 로그인 API 기능 (구글, 네이버, 카카오, 등...)
    2.'로그인'버튼 추가
 -->
 <!-- head.ejs에 <body>포함되어 있음. -->
    <div class="loginBox">
        <div class="bigLogo alignment">
            <img src="../img/MZDRN_logo_column_removeBG.png" alt="">
        </div>
        <div class="inputLoginInfo alignment">
            <form action="###">
                <input type="text" name="userID" placeholder="ID">
                <input type="text" name="userPW" placeholder="PW">
            </form>
            <div class="loginBT">
                <!--필요하면 <button> 태그로 교체-->
                <a href="/">로그인</a> 
            </div>
        </div>
        <div class="API-login">
            <!--필요하면 <a> 태그로 교체-->
            <div class="googleBT">
                <img src="../img/google_icon.png" alt="">
                <a href="/">구글 로그인</a>
            </div>
            <div class="naverBT">
                <img src="../img/naver_icon.png" alt="">
                <a href="/">네이버 로그인</a>
            </div>
            <div class="kakaoBT">
                <img src="../img/kakao_icon.png" alt="">
                <a href="/">카카오 로그인</a>
            </div>
            <div class="creatBT">
                <a href="/">회원가입</a>
            </div>
        </div>
    </div>
</body>
</html>