<div class="callPost">
    <div class="callPostLeft">
        <div class="postWrittenDay">
            <span>2024-04-13 18:29</span>
        </div>
        <a href="/profile"><div class="postWriterImg">
            <div class="writerFollowBT">팔로우</div>
        </div></a>
        <div class="postWriterName alignment">
            <span>푸바오</span>
        </div>
        <div class="postStack">
            <div class="postLike alignment"><span class="material-symbols-outlined">thumb_up</span>
                <span>5</span>
            </div>
            <div class="postComments alignment"><span class="material-symbols-outlined">comment</span>
                <span>15</span>
            </div>
            <div class="postLove alignment"><span class="material-symbols-outlined">favorite</span>
                <span>24</span>
            </div>
        </div>
    </div>
    <div class="callPostRight"><a href="/postDetails">
        <div class="callPostTitle">
            <span>개발자가 되고 싶습니다.</span>
        </div>
        <div class="callPostText">
            <span>안녕하세요 푸바오입니다. 개발자가 되고싶어요</span>
        </div>
        <div class="callPostHashtag">
            <span>#개발자</span>
        </div>
    </a></div>
</div>