<%-include('head.ejs')-%>
<!-- End of head -->
<%-include('header.ejs')-%>
<!-- End of header -->

<!-- 
    계정 정보 확인
    DB에서 정보 불러오기
    1.이름/닉네임
    2.소개글
    3.작성한 게시글
    4.프로필 사진  
    5.'수정하기' 버튼 추가 (editProfile 이동)
-->

<div class="profileBox alignment">
    <div class="profileInfo">
        <div class="imgProfile alignment">
            <img src="../img/logo_blackBG.png" alt="">
        </div>
        <div class="name alignment">
            <p>엠지디알엔</p>
        </div>
        <div class="followInfo alignment">
            <div class="follow">
                <p>팔로우   <span>0</span></p>
            </div>
            <div class="following">
                <p>팔로잉   <span>0</span></p>
            </div>
        </div>
        <div class="follow_edit alignment">
            <a href="/editProfile">팔로우</a>
        </div>
        <div class="introduceText">
            <table>
                <tr><td>테이블 1행 : 소개글</td></tr>
                <tr><td>테이블 2행 : 커넥션</td></tr>
            </table>
        </div>
    </div>
    <div class="myPost">
        <p>작성한 게시글</p>
        <!-- 게시글 시작 -->
        <div class="callPost">
            <div class="callPostLeft">
                <div class="postWrittenDay">
                    <span>2024-04-13 14:39</span>
                </div>
                <div class="postWriterImg">
                    <div class="writerFollowBT">팔로우</div>
                </div>
                <div class="postWriterName alignment">
                    <span>구글직원호소인</span>
                </div>
                <div class="postStack">
                    <div class="postLike alignment"><span class="material-symbols-outlined">thumb_up</span>
                        <span>10</span>
                    </div>
                    <div class="postComments alignment"><span class="material-symbols-outlined">comment</span>
                        <span>20</span>
                    </div>
                    <div class="postLove alignment"><span class="material-symbols-outlined">favorite</span>
                        <span>30</span>
                    </div>
                </div>
            </div>
            <div class="callPostRight"><a href="/postDetails">
                <div class="callPostTitle">
                    <span>제목입니당</span>
                </div>
                <div class="callPostText">
                    <span>내용입니당</span>
                </div>
                <div class="callPostHashtag">
                    <span>#해시태그</span>
                </div>
            </a></div>
        </div>
        <!-- 게시글 끝 -->
    </div>
</div>

<!-- Start of footer -->
<%-include('footer.ejs')-%>