<%-include('head.ejs')-%>
<!-- End of head -->
<%-include('header.ejs')-%>
<!-- End of header -->

<!-- 
    선택한 게시글 자세히 보기
    1.클릭한 게시글의 제목, 코드, 결과값, 태그를 DB에서 불러오기
    2.코멘트, 좋아요개수를 DB에서 불러오고 추가되거나 편집된 내용 저장
    3.본인이 작성한 게시글일 경우 '수정하기', '삭제하기' 포함하는 메뉴 버튼 추가
 -->

<div class="postDetailBox">
    <div class="postInfo">
        <div class="detailUser">
            <div class="detailWriter">작성자 : <span>신짱구</span></div>
            <div class="detailDate"><span>2024-03-24</span></div>
        </div>
        <div class="detail detailTitle"><span>제목</span></div>
        <div class="detail detailHashtag"><span>해시태그</span></div>
        <div class="detail detailText"><span>내용</span></div>
        <div class="detail detailCode"><span>코드</span></div>
        <div class="detail detailOutput"><span>결과</span></div>
        
        <div class="separateLine"></div>
        <div class="detailComments">
            <table>
                <!-- 댓글1 -->
                <tr><td><div class="loadComments">
                            <div class="loadCommentsImg">
                                <img src="../img/google_icon.png" alt="">
                            </div>
                            <div class="loadCommentsInfo">
                                <p style="margin: 0;">작성자</p>
                                <div class="separateLine2"></div>
                                <div class="loadCommentsText">
                                    <p>댓글</p>
                                </div>
                            </div>
                </div></td></tr>
                <!-- 댓글2 -->
                <tr><td><div class="loadComments">
                            <div class="loadCommentsImg">
                                <img src="../img/google_icon.png" alt="">
                            </div>
                            <div class="loadCommentsInfo">
                                <p style="margin: 0;">작성자</p>
                                <div class="separateLine2"></div>
                                <div class="loadCommentsText">
                                    <p>댓글</p>
                                </div>
                            </div>
                </div></td></tr>
                <!-- 댓글3 -->
                <tr><td><div class="loadComments">
                            <div class="loadCommentsImg">
                                <img src="../img/google_icon.png" alt="">
                            </div>
                            <div class="loadCommentsInfo">
                                <p style="margin: 0;">작성자</p>
                                <div class="separateLine2"></div>
                                <div class="loadCommentsText">
                                    <p>댓글</p>
                                </div>
                            </div>
                </div></td></tr>
            </table>
        </div>
        <div class="menuOpen">
            <input type="checkbox" id="menuDropdown">
            <label for="menuDropdown">
                <span class="material-symbols-outlined">menu_open</span>
            </label>
        </div>
    </div>
</div>

<!-- Start of footer -->
<%-include('commentsFooter.ejs')-%>