<%-include('head.ejs')-%>
<!-- End of head -->
    
<div class="signupbox">
    <div class="signuplogo">
        <img src="../img/MZDRN_logo_row_removeBG.png" alt=""><br>
        <span>MZ들이 선택한 개발자 커뮤니티</span><br>
        <span>MZ DRN과 함께하세요!</span>
    </div>
    <div class="signupInput alignment">
        <form class="sign" action="/signup" method="post">
            <div class="IDbox">
                <label for="userID">ID:</label>
                <input type="text" id="userID" name="userID" placeholder=""><br>
            
            
                <label for="userPW">PASSWORD:</label>
                <input type="password" id="userPW" name="userPW" placeholder=""><br>
            
            
                <label for="email">EMAIL:</label>
                <input type="email" id="email" name="email" placeholder=""><br>
            
            
                <label for="username">NAME :</label>
                <input type="text" id="user_name" name="user_name" placeholder=""><br>
            </div>
            <div class="signupBT">
                <button type="submit">가입하기</button>
            </div>            
        </form>
    </div>
</div>
<!-- Start of footer -->
<%-include('footer.ejs')-%>