:root {
    --commentsSize: 60px;
    --contentsSIze: 40px;
}
.commentsFooter {
    z-index: 10;
    width: 100%;
    height: var(--headerSize);
    background-color: var(--signatureColor);
    position: fixed;
    bottom: 0;
}
.commentsBox {
    box-sizing: border-box;
    width: 45%;
    border: none;
    border-radius: 15px;
    background-color: var(--boxColor);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.contentImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.commentsImg img{   
    box-sizing: border-box;
    width: calc(var(--commentsSize) - 20px);
    height: calc(var(--commentsSize) - 20px);
    border-radius: 50%;
    border: none;
}
.inputComments {
    width: 85%;
    box-sizing: border-box;
    margin: auto;
}
.inputComments form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputComments .commentContent {
    box-sizing: border-box;
    width: 100%;
    height: calc(var(--commentsSize) - 20px);
    font-size: 20px;
    background-color: var(--commentBackground);
    border: none;
    border-radius: 15px;
    resize: none;
    margin: 0 20px;
}
.inputComments button {
    border-radius: 50%;
    border: none;
    height: 36px;
    width: 36px;
    background-color: #03c75a;
}