.editBox {
    margin: 80px auto;
}
.editImg {
    width: 100%;
}
.editImg img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px auto;
}
.editInfo {
    gap: 10px;
}
.editInfo input {
    height: 50px;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid var(--signatureColor);
    border-radius: 15px;
    margin: 5px 0;
    background-color: rgba(0, 0, 0, 0); /* 투명 배경 */
    color: var(--textColor2);
    font-size: 20px;
    line-height: 50px;
}
.editInfo input::placeholder {
    color: white;
    font-size: 20px;
    line-height: 50px;
}
.saveBT button {
    height: 50px;
    width: 300px;
    background-color:  var(--signatureColor);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    line-height: 25px;
    margin: 5px 0;
}