.editBox {
    margin: 80px auto;
}
.editImg {
    width: 100%;
    position: relative;
}
.editImg img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px auto;
}

.editImg button{
    position: absolute; 
    bottom: 0;
    right: 50%;
    transform: translateX(calc(50% + 120px));
    align-items: center;
    color:var(--loginBTcolor);
    background-color: #00ff0000;
    border:none;
}

.editImg span{
    font-size: 50px;
}

.editInfo {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
}

.editInfo span{
    margin-left: 100px;
    color: var(--textColor2);
    font-size: 18px;
}
.editInfo input {
    height: 50px;
    width: 300px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: var(--boxColor);
    color: var(--textColor2);
    font-size: 15px;
    line-height: 50px;
}
.editInfo input::placeholder {
    color: darkgray;
    font-size: 15px;
    line-height: 50px;
}
.saveBT button {
    height: 50px;
    width: 300px;
    background-color:  var(--loginBTcolor);
    border: none;
    border-radius: 15px;
    color: var(--textColor2);
    font-size: 25px;
    line-height: 25px;
    margin: 5px 0;
}