:root {
    --headerSize: 66px;
    --headerIconSize: 50px;
    --headerIconColor: #fff;
    --headerBackground: #1C233A;
    --headerFontSize: 18px;
}
header {
    z-index: 10;
    margin: 0;
    width: 100%;
    height: var(--headerSize);
    background-color: var(--headerBackground);
    position: fixed;
    top: 0;
    left: 0;   
}
.moveIndex img {
    height: calc(var(--headerSize));
    position: absolute;
    left: 10px;
}
.headerMenu {
    position: absolute;
    right: 0px;
    color: var(--headerIconColor);
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    gap: 10px;
    user-select: none; /* 텍스트 선택 차단 */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* 인터넷익스플로러 */
}
.headerMenu > a > span{
    font-size: calc(var(--headerIconSize) - 10px);
    line-height: var(--headerSize);
    color: white;
}
/*토글 스위치*/
.darkMode {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    font-size: 20px;
}
.darkMode label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
#darkmode [type="checkbox"] {
    appearance: none;
    position: relative;
    border: none;
    border-radius: 15px;
    background-color: var(--lightGray);
    width: 60px;
    height: 30px;
}
#darkmode [type="checkbox"]::before {
    content: "ON";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--signatureColor);
    transform: scale(0.8);
    transition: left 250ms linear;
}
#darkmode [type="checkbox"]:checked::before {
    content: "OFF";
    background-color: var(--signatureColor);
    left: 30px;
}