header {
    z-index: 10;
    margin: 0;
    width: 100%;
    height: var(--headerSize);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--darkGray);
}
.moveWritingPost span{
    width: var(--headerSize);
    height: var(--headerSize);
    font-size: 50px;
    color: var(--headerIconColor);
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.moveIndex img {
    height: var(--headerSize);
    width: var(--headerSize);
}
.moveProfile span{
    width: var(--headerSize);
    height: var(--headerSize);
    font-size: 60px;
    color: var(--headerIconColor);
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}