.swiper {
  width: 100%;
  position: relative;
  margin-top: 66px;
}

.swiper .swiper-slide{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.swiper-slide img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.material-icons {
  font-size: 30px;
  color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  content: "";
  display: none;
}

.swiper-pagination {
  color: white;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev {
  left: 500px;
}
.swiper-button-next {
  right: 500px;
}

/* -------------------------------------------------------------------- */
.mainBox{
  width: 100%;
}
.navBox {

  width: 25%;
  padding: 20px auto;
}
.searching {
  width: 80%;
  margin: 20px auto;
  background-color: var(--boxColor);
  border-radius: 15px;
  /*border: 0.6px solid var(--signatureColor);*/
}
.searching form {
  /*position: relative;*/
  height: 36px;
  display: flex;
  align-items: center;
}
.searching input {
  background-color: var(--boxColor);
  border-radius: 15px;
  border: none;
  width: calc(100% - 40px);
  height: 30px;
  text-align: center;
  box-sizing: border-box;
}
.searching button {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  color:var(--textColor2);
}
/*---------------------------------------------*/
.postBox {
  width:50%;
}
/* ----------------------------------------------------------- */
.popularBox {
  width: 25%;
}
.popularPost {
  padding: 15px 15px;
  width: 80%;
  background-color: var(--boxColor);
  border-radius: 15px;
  border: none;
  margin: 20px auto;         
  box-sizing: border-box;
  color: var(--textColor2);
}