.swiper {
  width: 100%;
  height: 310px;
  position: relative;
  margin-top: 80px;
}

.swiper .swiper-slide{
  text-align: center;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.swiper-slide img{
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.material-icons {
  font-size: 30px;
  color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  content: "";
  display: none;
}

.swiper-pagination {
  color: white;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev {
  left: 500px;
}
.swiper-button-next {
  right: 500px;
}

/* -------------------------------------------------------------------- */
.mainBox{
  width: 100%;
}
.navBox {
  width: 25%;
  padding: 20px auto;
}
.searching {
  width: 80%;
  margin: 20px auto;
  background-color: var(--boxColor);
  border-radius: 15px;
  border: 0.6px solid var(--signatureColor);
}
.searching form {
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
}
.searching input {
  background-color: var(--boxColor);
  border-radius: 15px;
  border: none;
  width: calc(100% - 40px);
  height: 30px;
  text-align: center;
  box-sizing: border-box;
}
.searching button {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  color:white;
}
.popularPost {
  width: 80%;
  height: 100px; /*temp*/
  background-color: var(--boxColor);
  border-radius: 15px;
  border: 0.6px solid var(--signatureColor);
  margin: 0 auto;         
}
/*---------------------------------------------*/
.postBox {
  width:75%;
}
.postsBox1 {
  width: 75%;
  padding: 20px 0;
}
.postsBox2 {
  width: 75%;
  padding: 20px 0;
}
.callPost {
  width: calc(100% - 47px);
  background-color: var(--boxColor);
  border-radius: 15px;
  border: 0.6px solid var(--signatureColor);
  box-sizing: border-box;
  display: flex;
  padding: 10px;
}
.callPostLeft {
  width: 150px;
}
.postWriterImg {
  background-image: url(../img/google_icon.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 20px auto 10px auto;
  position: relative;
}
.writerFollowBT {
  background-color: #8995FF;
  border-radius: 15px;
  box-sizing: content-box;
  font-size: 12px;
  position: absolute;
  right: -5px;
  bottom: -5px;
  padding: 2px 4px;
}
.postStack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  margin-top: 20px;
}
.postStack span{
  font-size: 16px;
}
.callPostRight {
  width: calc(100% - 150px);
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;
}
.callPostRight a {
  text-decoration: none;
  color: black;
}
.callPostTitle {
  word-wrap: break-word;
  overflow: hidden;
  border-bottom: 1px solid black;
  font-size: 20px;
}
.callPostText {
  overflow: hidden;
  height: 165px;
}
.callPostHashtag {
  overflow: hidden;
  border-top: 1px solid black;
}
