:root {
    --loginBTsize: 80px;
    --API-BT-height: 40px;
    --signatureColor: #1C233A;
    --textColor2: white;
    --boxColor: #1A2A63;
}
.loginBox {
    width: 500px;
    margin: 80px auto;
    padding: 20px;
}
.bigLogo img {
    width: 540px;
}
.inputLoginInfo form {
    display: flex;

}
.inputLoginInfo form input {
    width: 95%;
    height: 30px;
    margin: 5px 0;
    background-color: white;
    border: 1px solid var(--signatureColor);
    border-radius: 15px;
    text-align: center;
}

.inputLoginInfo form input::placeholder{
    color:black;
}

.inputLoginInfo form input:focus {
    background-color: var(--textColor1);
}

.inputLoginInfo form input:focus::placeholder{
    color:transparent;

}
.loginBT button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
    width: var(--loginBTsize);
    height: var(--loginBTsize);
    margin: 5px 0;
    background-color: var(--boxColor);
    border-radius: 15px;
    text-align: center;
}
.API-login {
    margin-top: 20px;
}
.API-login div{
    width: 350px;
    height: var(--API-BT-height);
    margin: 10px auto;
    text-align: center;
    font-size: large;
    position: relative;
}
.API-login div img {
    position: absolute;
    left: 10px;
    width: var(--API-BT-height);
    height: var(--API-BT-height);
}
.API-login div a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--API-BT-height);
    text-decoration: none;
    border-radius: 15px;
}
.googleBT a {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.naverBT a {
    background-color: rgb(0 193 58);
    color: white;
}
.kakaoBT a {
    background-color: rgb(255 230 23);
    color: black;
}

.creatBT {
    display: flex;
    justify-content: center;
    align-items: center;
}
.creatBT a {
    text-align: center;
    background-color: var(--signatureColor);
    text-decoration: underline;
    color: white;
}
