/* Custom properties */
:root {
    --mainColor: blue; /*test*/ 
    --darkGray: #3c3c3c;
    --gray: #5e5e5e;
    --lightGray: #a0a0a0;
    --headerSize: 80px;
    --headerIconColor: #fff;
}
body {
    background-color: var(--gray);
    width: 100%;
    margin: 0;
}
.alignment { /*정렬*/
    display: flex;
    align-content: center;
    justify-content: center; 
}
.width100 {
    width: 100%;
}
.emptyBox { /*index, writingPost, postDetails 사용*/
    width: 25%;
    margin: 0 auto;
}
