.signupbox{
    width: 500px;
    margin: auto;
    padding: 20px;
    /*background-color:var(--boxColor);*/
}
.signuplogo img{
    width: 500px;
    height: 200px;
}
.signuplogo span{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:var(--textColor2);
    font-size: 25px;
}
.IDbox label{
    font-size: 20px;
    color:var(--textColor2);
}
.IDbox input{
    width:250px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--boxColor);
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--signatureColor);
    color: var(--textColor2);
}
.IDbox input::placeholder{
    color: var(--textColor2);
}
.sign{
    width:250px;
    margin: 50px 100px;
}
.signupBT {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.signupBT button{
    width : 200px;
    height : 50px;
    margin: 30px auto;
    border-radius: 15px;
    background-color:var(--boxColor);
    color:var(--textColor2);
    border: none;
    text-align: center;
}
.signupBT button:hover {
    text-decoration: underline;
}
