.writingPostBox{
    margin-top: var(--headerSize);
    width: 100%;
}
.writingPost {
    width: 50%;
    margin: 0;
}
.writingPost form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}
.writingPost input {
    width: 90%;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 5px auto;
    padding: 10px 0;
    border: none;
    background-color: var(--boxColor);
    border: 0.6px solid var(--signatureColor);
}
.writingPost textarea {
    width: 90%;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    resize: none;
    margin: 5px auto;
    background-color: var(--boxColor);
    border: 0.6px solid var(--signatureColor);
}
.writingPost button {
    font-size: 20px;
    border-radius: 15px;
    border: none;
    padding: 10px 40px;
    margin: 5px 5px;
    background-color: var(--signatureColor);
    color: white;
    cursor: pointer;
}